################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Travel Management Web Tool;/.vs/Travel Management Web Tool;
/Travel-Management-Web-Tool/.vs/Travel-Management-Web-Tool
